
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hospital Scheduling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <!-- Title Bar -->
    <div class="title-bar">
      <div class="title-left">
        <a href="/admin">Admin</a> | <a href="/ma">MA</a> | <a href="/patient">Patient</a>
      </div>
      <div class="title-right">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a>
      </div>
    </div>
    <p>This is the About Page</p>
  </body>
</html>

